div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  background-clip: content-box;
}

#first {
  margin: 1%;
  padding: 2%;
}
#second {
  margin-top: 10%;
  padding: 10%;
}
#third {
  margin: 1%;
  padding: 2% 3% 8% 3% ;
}
#fourth {
  margin: 0;
  padding: 2% 9% 5% 20%;
}

